@using ArtCosplay.Data
@using ArtCosplay.Data.DB
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject AppDbContext DbContext
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Главная";

    List<MainPagePost> posts = DbContext.Posts
    .Include(x => x.Likes)
    .Include(x => x.Comments)
    .Include(x => x.Author)
    .Select(x => new MainPagePost { Post = x, CreatedAt = x.CreatedAt })
    .ToList();

    posts.AddRange(DbContext.Discussions
        .Include(x => x.Likes)
        .Include(x => x.Comments)
        .Include(x => x.Author)
        .Select(x => new MainPagePost { Discussion = x, CreatedAt = x.CreatedAt }));

    posts = posts.OrderByDescending(x => x.CreatedAt).ToList();
    var events = DbContext.Events.OrderByDescending(x => x.CreatedAt).ToList();
    var news = DbContext.News.OrderByDescending(x => x.CreatedAt).ToList();

    if(news.Count() != 0)
        news = news.Chunk(5).ElementAt(0).ToList();

    if (events.Count() != 0)
        events = events.Chunk(5).ElementAt(0).ToList();

    if(posts.Count > 5)
        posts = posts.Chunk(5).ElementAt(0).ToList();
    
}

<div class="main-container">
    <aside class="events-sidebar">
        <h2 class="sidebar-title">Ближайшие мероприятия</h2>
        @foreach (var eventItem in events)
        {
            <div class="event-item">
                <div class="event-title">@eventItem.Title</div>
                <div class="event-date">@eventItem.Description</div>
            </div>
        }
    </aside>

    <main class="main-content">
        @if(posts.Count != 0)
        {
            @foreach (var item in posts)
            {
                <article class="post">
                    <a href="@Url.Action("Profile", "Home", new {Id = item.Post != null ? item.Post.AuthorId : item.Discussion.AuthorId})">
                        <div class="post-header">
                            <img src="@(item.Post == null ? item.Discussion.Author.AvatarUrl : item.Post.Author.AvatarUrl)" alt="Аватар" class="post-avatar">
                            <div>
                                <span class="post-user">@(item.Post == null ? item.Discussion.Author.UserName : item.Post.Author.UserName)</span>
                                <span class="post-time">@item.CreatedAt.ToString()</span>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action(item.Post != null ? "Post" : "Discussion", "Home", new {Id = item.Post != null ? item.Post.PostId : item.Discussion.DiscussionId})">
                        <h3 class="post-title">@(item.Post == null ? item.Discussion.Title : item.Post.Title)</h3>
                        @if (item.Post != null)
                        {
                            <img src="@item.Post.ImageUrl" alt="Пост" class="post-image">
                        }
                        <p class="post-text">@(item.Post == null ? item.Discussion.Content : item.Post.Content)</p>
                        <div class="post-actions">
                            <div class="post-action">
                                <i class="far fa-thumbs-up"></i>
                                <span>@(item.Post == null ? item.Discussion.Likes.Count : item.Post.Likes.Count)</span>
                            </div>
                            <div class="post-action">
                                <i class="far fa-comment"></i>
                                <span>@(item.Post == null ? item.Discussion.Comments.Count : item.Post.Comments.Count)</span>
                            </div>
                        </div>
                    </a>
                </article>

            }
        }
        else
        {
            <span>Ещё нет обсуждений или артов/косплеев!</span>
        }

        @*         <div class="pagination">
            <a href="#" class="page-number active">1</a>
            <a href="#" class="page-number">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">4</a>
        </div> *@
    </main>

    <aside class="news-sidebar">
        <h2 class="sidebar-title">Новости косплея и аниме</h2>
        @foreach (var newsItem in news)
        {
            <div class="news-item">
                <div class="news-title">@newsItem.Title</div>
                <div class="news-text">@newsItem.Content</div>
                <div class="news-date">@newsItem.CreatedAt.ToString()</div>
            </div>
        }
    </aside>
</div>