@using ArtCosplay.Data
@using ArtCosplay.Data.DB
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model Tuple<ShopPageFindViewModel, CreateShoppingItemViewModel>

@inject UserManager<User> UserManager
@inject AppDbContext DbContext
@inject SignInManager<User> SignInManager

@{
    IQueryable<Product> items = DbContext.Products
        .Include(x => x.Seller)
        .Where(x => x.IsAvailable);

    if (Model.Item1.FilterText != null)
        items = items.Where(x => x.Title.ToLower().Contains(Model.Item1.FilterText.ToLower())
            || x.Description.ToLower().Contains(Model.Item1.FilterText.ToLower()));


    if (Model.Item1.FilterType != null)
        items = items.Where(x => x.Type == Model.Item1.FilterType);

    if (Model.Item1.FilterCity != null)
        items = items.Where(x => x.City == Model.Item1.FilterCity);

    if (Model.Item1.FilterCost != null)
        items = items.Where(x => x.Price <= Model.Item1.FilterCost);

    items = items.OrderByDescending(x => x.CreatedAt);
    ViewData["Title"] = "Барахолка";

    int page = Model.Item1.Page ?? 1;
    int maxPage = Convert.ToInt32(Math.Ceiling(items.ToList().Count / 6.0));

    if (maxPage == 0)
        maxPage = 1;

    if (page > maxPage)
        page = maxPage;
    else if (page <= 0)
        page = 1;
    
    Model.Item1.Page = page;
    var toShow = new List<Product>();
    var chunks = items.ToList().Chunk(6);

    if (chunks.Count() != 0)
    {
        toShow = chunks.ElementAt(page - 1).ToList();
    }
}

<div class="marketplace-container">
    <div class="items-list">
        <div class="header-shop">
            <h1 class="items-title">Барахолка</h1>
            <a href="@Url.Action("Chat", "Home")">Чаты барахолки</a>
        </div>

        <form asp-action="ShopPage" asp-controller="Home" method="get">
            <div class="marketplace-search">
                <input type="text" placeholder="Поиск по товарам..." asp-for="Item1.FilterText" name="FilterText"> 
                <button type="submit"><i class="fas fa-search"></i> Найти</button>
            </div>
            <div class="marketplace-filters">
                <select class="filter-select" asp-for="Item1.FilterType" name="FilterType">
                    <option value="">Выберите категорию</option>
                    <option value="wigs">Парики</option>
                    <option value="costumes">Костюмы</option>
                    <option value="props">Реквизит</option>
                    <option value="shoes">Обувь</option>
                    <option value="art-supplies">Материалы для рисования</option>
                    <option value="other">Другое</option>
                </select>

                <select class="filter-select" asp-for="Item1.FilterCity" name="FilterCity">
                    <option value="">Любой город</option>
                    <option value="Орша">Орша</option>
                    <option value="Минск">Минск</option>
                    <option value="Брест">Брест</option>
                    <option value="Могилев">Могилев</option>
                    <option value="Гомель">Гомель</option>
                    <option value="Гродно">Гродно</option>
                    <option value="Витебск">Витебск</option>
                </select>

                <select class="filter-select" asp-for="Item1.FilterCost" name="FilterCost">
                    <option value="">Любая цена</option>
                    <option value="50">до 50 р.</option>
                    <option value="100">до 100 р.</option>
                    <option value="150">до 150 р.</option>
                    <option value="200">до 200 р.</option>
                </select>
            </div>
        </form>


        <div class="items-grid">
            @foreach (var item in toShow)
            {
                <div class="item-card">
                    <a href="@Url.Action("ShoppingItem", "Home", new {Id = item.ProductId})" style="text-decoration: none;">
                        <span class="item-price">@item.Price р.</span>
                        <img src="@item.ImageUrl" alt="Фото" class="item-image">
                        <h3 class="item-title">@item.Title</h3>
                        <p class="item-description">@item.Description</p>
                    </a>
                    <a href="@Url.Action("Profile", "Home", new {Id = item.Seller.Id})" style="text-decoration: none;">
                        <div class="item-seller">
                            <img src="@item.Seller.AvatarUrl" alt="Продавец" class="seller-avatar">
                            <div>
                                <div class="seller-name">@item.Seller.UserName</div>
                                <div class="item-location">@item.City</div>
                            </div>
                        </div>
                    </a>

                    <div class="item-actions">
                        <button class="item-btn">Сообщение</button>
                    </div>
                </div>
            }
        </div>
        @if (toShow.Count != 0)
        {
            <div class="pagination">
                @if (page != 1)
                {
                    <a href="@Url.Action("ShopPage", "Home", new {Page = Model.Item1.Page == null ? 1 : Model.Item1.Page - 1, FilterText = Model.Item1.FilterText, FilterType = Model.Item1.FilterType, FilterCity = Model.Item1.FilterCity, FilterCost = Model.Item1.FilterCost})" class="page-number">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                }
                <p class="page-number active">@(page)</p>
                @if (page != maxPage)
                {
                    <a href="@Url.Action("ShopPage", "Home", new {Page =  Model.Item1.Page == null ? 1 : Model.Item1.Page + 1, FilterText = Model.Item1.FilterText, FilterType = Model.Item1.FilterType, FilterCity = Model.Item1.FilterCity, FilterCost = Model.Item1.FilterCost})" class="page-number">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                }
            </div>
        }
        else
        {
            <span>Нет ещё товаров!</span>
        }
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <aside class="sell-item">
            <h2 class="sell-title">Продать свой товар</h2>
            <form asp-action="ShopPage" asp-controller="Home" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label for="item-name">Название товара</label>
                    <input type="text" id="item-name" placeholder="Например: Парик для косплея" asp-for="Item2.Title" name="Title">
                </div>

                <div class="form-group">
                    <label for="item-price">Цена (р.)</label>
                    <input id="item-price" type="number" placeholder="Укажите цену" asp-for="Item2.Price" name="Price">
                </div>

                <div class="form-group">
                    <label>Фотографии товара</label>
                    <div class="file-upload">
                        <div class="file-upload-icon">
                            <i class="fas fa-camera"></i>
                        </div>
                        <span class="file-upload-text">Добавьте фото товара</span>
                        <input type="file" id="art-file" style="display: none;" asp-for="Item2.Image" name="Image" accept="image/*">
                    </div>
                </div>

                <div class="form-group">
                    <label for="item-category">Категория</label>
                    <select id="item-category" asp-for="Item2.Type" name="Type">
                        <option value="">Выберите категорию</option>
                        <option value="wigs">Парики</option>
                        <option value="costumes">Костюмы</option>
                        <option value="props">Реквизит</option>
                        <option value="shoes">Обувь</option>
                        <option value="art-supplies">Материалы для рисования</option>
                        <option value="other">Другое</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="item-description">Описание</label>
                    <textarea id="item-description" placeholder="Подробно опишите товар, укажите состояние, размеры и т.д." asp-for="Item2.Content" name="Content"></textarea>
                </div>

                <div class="form-group">
                    <label for="item-category">Город</label>
                    <select class="item-category" asp-for="Item2.City" name="City">
                        <option value="Орша">Орша</option>
                        <option value="Минск">Минск</option>
                        <option value="Брест">Брест</option>
                        <option value="Могилев">Могилев</option>
                        <option value="Гомель">Гомель</option>
                        <option value="Гродно">Гродно</option>
                        <option value="Витебск">Витебск</option>
                    </select>
                </div>

                <button type="submit" class="submit-btn">Разместить объявление</button>
            </form>
        </aside>
    }
</div>

<script src="/js/artSendLogic.js"></script>